{% extends 'base.html' %}

{% block tittle %}
E-Comerce Productos
{% endblock %}

{% block content %}

<h1>Productos legales</h1>
<div>
    <a href="{% url 'create_product' %}" class="btn btn-success">Añadir producto</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Marca</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
        </tr>
    </thead>
    {% for p in products %}
    <tbody>
        <tr>
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.stock}}</td>
            <td>{{p.price}}</td>
            <td>{{p.description}}</td>
            <td>{{p.brand}}</td>
            <td><a href="{% url 'update_product' p.id %}">Editar</a></td>
            <td><a href="{% url 'delete_product' p.id %}">Eliminar</a></td>
        </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}

