{% extends 'base.html' %}

{% block tittle %}
Carrito
{% endblock %}

{% block content %}
<h1>Carrito</h1>
<!-- Show a div that show of content of cart products -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Eliminar</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for item in cart %}
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>${{ item.price }}</td>
                                    
                                    <td><a href="{% url 'cart_remove_product' item.id %}">Eliminar</a></td>
                                {% endfor %}
                            </tbody>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<a href="{% url 'limpiar' %}" class="btn btn-success">Comprar</a>
<a href="{% url 'home' %}" class="btn btn-info">Seguir comprndo</a>
{% endblock %}