{% extends 'base.html' %}

{% block tittle %}
E-Comerce Django
{% endblock %}

{% block content %}

<h1>Bienvenido a mi E-Commerce</h1>
<h3>Productos:</h3>
<div class="container">
    <div class="row">
        {% for product in products %}
            <div class="col-md">
                <div class="card " style="width: 18rem">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.description}}</p>
                        <p class="card-text">{{product.price}}</p>
                        <a href="#!" class="btn btn-primary">Buy</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<hr>
<a href="{% url 'products' %}" class="btn btn-info">Productos</a>

{% endblock %}






