{% extends 'base.html' %}

{% block tittle %}
E-Comerce Django
{% endblock %}

{% block content %}

<div>
    <h1>Bienvenido a mi E-Commerce</h1>
    <h3>Productos:</h3>
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-light">
            {% for product in products %}
            <li class="list-group-item px-3">{{product}}</li>
            {% endfor %}
        </ul>
    </div>
    <a href="{% url 'products' %}" class="btn btn-info">Productos</a>
</div>

{% endblock %}
